.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
  background-color: #f2f2f2;
  background-image: url('https://wallpapers-hub.art/wallpaper-images/51724.jpg');
  background-size: cover;
  background-position: center;
  font-family: Arial, sans-serif;
}

.address-box {
  border: 1px solid #ccc;
  background-color: plum;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
}


label {
  display: inline-block;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: bold;
  color: rgb(255, 255, 255);
}


input[type="text"] {
  width: 100px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

button {
  
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background-color: #008CBA;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #006B9E;
}


#result {
  font-weight: bold;
}
